schema_version: 1.2.0
id: CVE-2021-43813
aliases:
- GHSA-c3q8-26ph-9g2q
modified: 2022-01-10T14:10Z
published: 2021-12-10T18:15Z
details: Grafana is an open-source platform for monitoring and observability. Grafana
  prior to versions 8.3.2 and 7.5.12 contains a directory traversal vulnerability
  for fully lowercase or fully uppercase .md files. The vulnerability is limited in
  scope, and only allows access to files with the extension .md to authenticated users
  only. Grafana Cloud instances have not been affected by the vulnerability. Users
  should upgrade to patched versions 8.3.2 or 7.5.12. For users who cannot upgrade,
  running a reverse proxy in front of Grafana that normalizes the PATH of the request
  will mitigate the vulnerability. The proxy will have to also be able to handle url
  encoded paths. Alternatively, for fully lowercase or fully uppercase .md files,
  users can block /api/plugins/.*/markdown/.* without losing any functionality beyond
  inlined plugin help text.
severity:
- type: CVSS_V3
  score: 4.3
- type: CVSS_V2
  score: 4.0
affected:
- package:
    name: grafana
    cpe: cpe:2.3:a:grafana:grafana
- ranges:
  - type: GIT
    repo: https://github.com/github/securitylab-vulnerabilities
    events:
    - introduced: '0'
    - fixed: 689fc5d9fd665be4d5bba200a6a433b532172d0f
  - type: GIT
    repo: https://github.com/grafana/grafana
    events:
    - introduced: '0'
    - fixed: fd48aee61e4328aae8d5303a9efd045fa0ca308d
- database_specific:
    CWE:
    - CWE-22
    - CWE-22
    CVSS:
      Score: 4.3
      Severity: MEDIUM
      Code: CVSS:3.1/AV:N/AC:L/PR:L/UI:N/S:U/C:L/I:N/A:N
references:
- type: FIX
  url: https://github.com/github/securitylab-vulnerabilities/commit/689fc5d9fd665be4d5bba200a6a433b532172d0f
- type: ADVISORY
  url: https://github.com/grafana/grafana/security/advisories/GHSA-c3q8-26ph-9g2q
- type: WEB
  url: https://grafana.com/docs/grafana/latest/release-notes/release-notes-8-3-2/
- type: ADVISORY
  url: https://security.netapp.com/advisory/ntap-20220107-0006/
- type: FIX
  url: https://github.com/grafana/grafana/commit/fd48aee61e4328aae8d5303a9efd045fa0ca308d
- type: WEB
  url: https://grafana.com/docs/grafana/latest/release-notes/release-notes-7-5-12/
- type: WEB
  url: http://www.openwall.com/lists/oss-security/2021/12/10/4
- type: WEB
  url: https://grafana.com/blog/2021/12/10/grafana-8.3.2-and-7.5.12-released-with-moderate-severity-security-fix/
