schema_version: 1.2.0
id: CVE-2021-21303
aliases:
- GHSA-c38g-469g-cmgx
modified: 2021-02-11T17:39Z
published: 2021-02-05T22:15Z
details: Helm is open-source software which is essentially "The Kubernetes Package
  Manager". Helm is a tool for managing Charts. Charts are packages of pre-configured
  Kubernetes resources. In Helm from version 3.0 and before version 3.5.2, there a
  few cases where data loaded from potentially untrusted sources was not properly
  sanitized. When a SemVer in the `version` field of a chart is invalid, in some cases
  Helm allows the string to be used "as is" without sanitizing. Helm fails to properly
  sanitized some fields present on Helm repository `index.yaml` files. Helm does not
  properly sanitized some fields in the `plugin.yaml` file for plugins In some cases,
  Helm does not properly sanitize the fields in the `Chart.yaml` file. By exploiting
  these attack vectors, core maintainers were able to send deceptive information to
  a terminal screen running the `helm` command, as well as obscure or alter information
  on the screen. In some cases, we could send codes that terminals used to execute
  higher-order logic, like clearing a terminal screen. Further, during evaluation,
  the Helm maintainers discovered a few other fields that were not properly sanitized
  when read out of repository index files. This fix remedies all such cases, and once
  again enforces SemVer2 policies on version fields. All users of the Helm 3 should
  upgrade to the fixed version 3.5.2 or later. Those who use Helm as a library should
  verify that they either sanitize this data on their own, or use the proper Helm
  API calls to sanitize the data.
severity:
- type: CVSS_V3
  score: 5.9
- type: CVSS_V2
  score: 4.0
affected:
- package:
    name: helm
    cpe: cpe:2.3:a:helm:helm
- ranges:
  - type: GIT
    repo: https://github.com/helm/helm
    events:
    - introduced: '0'
    - fixed: 6ce9ba60b73013857e2e7c73d3f86ed70bc1ac9a
- database_specific:
    CWE:
    - CWE-74
    CVSS:
      Score: 5.9
      Severity: MEDIUM
      Code: CVSS:3.1/AV:L/AC:L/PR:L/UI:R/S:C/C:N/I:H/A:N
references:
- type: ADVISORY
  url: https://github.com/helm/helm/security/advisories/GHSA-c38g-469g-cmgx
- type: WEB
  url: https://github.com/helm/helm/releases/tag/v3.5.2
- type: FIX
  url: https://github.com/helm/helm/commit/6ce9ba60b73013857e2e7c73d3f86ed70bc1ac9a
